/* Globals */
body{
	font-family: 'Roboto Light', sans-serif;
	font-size: 16px;
	color: #777;
	font-weight: 100;
}
.introbar_wrap {
	width: 100%;
	display: block;
	background-color: #e77e04;
	background: url('../images/intro_bg.jpg') no-repeat;
}
.gallerybar_wrap {
	width: 100%;
	display: block;
	padding: 0;
	overflow: hidden;
	background-color: #eee;
}

/* header */

.logo{
	margin: 70px 50px;
}

.logo a{
	color: #2b3f4c;
	font-size: 30px;
	line-height: 60px;
	font-weight: 100;
	text-decoration: none;
}
.logo:before {
	content: "";
	background: url('../images/icon_sprite.png') no-repeat;
	display: inline-block;
	height: 60px;
	width: 60px;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

/* Intro bar */
	
.intro_row {
	position: relative;
	padding: 0 50px 100px 50px;
}
.intro h2{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	font-family: 'Roboto Condensed Light', sans-serif;
}
.tagline{
	color: white;
	font-size: 20px;
}
.button{
	background-color: white;
	font-size: 20px;
	text-align: center;
	color: #e77e04;
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 20px 70px;
}
.button a{
	text-transform: uppercase;
	color: #e77e04;
	text-decoration: none;
}
/* feature */

.feature {
	padding: 100px 50px;
}

.feature_heading{
	font-size: 26px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed Light', sans-serif;
	color: #e77e04;
	font-weight: 300;
}

.feature_heading:before,
.feature_heading:after {
	content: "";
	background: url('../images/icon_sprite.png') no-repeat;
}

.feature_heading:after {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.feature_tag .feature_heading:after{
	background-position: 0 -80px;
	height: 31px;
	width: 31px;
}
.feature_cloud .feature_heading:after{
	background-position: -40px -80px;
	height: 25px;
	width: 35px;
}
.feature_map .feature_heading:after{
	background-position: -80px -80px;
	height: 31px;
	width: 25px;
}

/* Gallery */

.gallery_row {
	background-color: #eee;
	overflow: hidden;
	width: 100%;
	margin: 100px 50px 100px 50px;
}
.gallery_row h4{
	color: #2b3f4c;
	font-family: 'Roboto Condensed Light', sans-serif;
	font-weight: 300;
	font-size: 36px;
}
.gallery_content{
	display: inline-block;
	padding-top: 100px;
}
.gallery_image {
	display: inline-block;
	min-width: 175px;
	min-height: 175px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Download */
.download{
	text-align: center;
}
.download h5{
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 42px;
	color:  #e77e04;
	font-weight: 300;
}
.download p{
	font-size: 18px;
}
.button-black{
	background-color: #000;
	width: 100%;
	padding: 20px;
	margin: 20px;

}
.apple{
	background: url('../images/icon_sprite.png') #000 no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-position: center -200px;
	min-width: 120px;
	min-height: 60px;
}
.play {
	background: url('../images/icon_sprite.png') #000 no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-position: center -260px;
	min-width: 120px;
	min-height: 60px;
}
.amazon {
	background: url('../images/icon_sprite.png') #000 no-repeat;
	display: inline-block;
	vertical-align: middle;
	background-position: center -320px;
	min-width: 120px;
	min-height: 60px;
}
.button-black a {
	color: #fff;
	text-decoration: none;
}

/* footer */
.footer {
	border-top: solid 1px #777;
	padding: 40px 50px;
}
}
.footer a{
	color: #2b3f4c;
	font-size: 16px;
}
.footer p{
	color: #777;
}
.footer_bottom{
	clear:both;
	text-align: center;
}
.footer_links{
	float: left;
	text-align: center;
}
.social_media{
	float: none;
	display: block;
	width: 0 auto;
}
.facebook {
	background: url('../images/icon_sprite.png') no-repeat;
	display: inline-block;
	background-position: -80px 0;
	height: 40px;
	width: 40px;
}
.twitter {
	background: url('../images/icon_sprite.png') no-repeat;
	background-position: -120px 0;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.googleplus {
	background: url('../images/icon_sprite.png') no-repeat;
	background-position: -160px 0;
	display: inline-block;
	height: 40px;
	width: 40px;
}


/* Media Queries */

	@media screen and (max-width: 499px) {
		/* target screens smaller then 500px */
	}

	@media screen and (min-width: 500px) {
		/* target screens larger then 500px */
	}

	@media screen and (min-width: 500px) and (max-width: 739px) {
		/* target screens from 500px to 740px */
	}

	@media screen and (max-width: 739px) {
		/* target screens smaller then 740px */


	}

	@media screen and (min-width: 740px) {
		/* target screens larger then 740px */
		.intro_row:before {
			content: "";
			background: url('../images/intro_phone.png') no-repeat;
			width: 325px;
			height: 554px;
			position: absolute;
			bottom: 0;
			right: 40px; 
		}
		.feature {
			text-align: center;
		}
		.feature_heading:after {
			display: none;
		}
	
		.feature_heading:before {
			display: block;
			vertical-align: middle;
			margin: 0 auto 20px;
			padding-bottom: 20px;
		}
		
		.feature_tag .feature_heading:before{
			background-position: 0 -120px;
			height: 64px;
			width: 64px;
		}
		.feature_cloud .feature_heading:before{
			background-position: -80px -120px;
			height: 53px;
			width: 72px;
		}
		.feature_map .feature_heading:before{
			background-position: -160px -120px;
			height: 63px;
			width: 50px;
		}
		.social_media{
			float:right;
		}
		.footer_bottom{
			clear:both;
			text-align: center;
		}
		.footer_links{
		float: left;
		text-align: center;
		}

	}

	@media screen and (min-width: 740px) and (max-width: 979px) {
		/* target screens from 740px to 980px */
	}

	@media screen and (max-width: 979px) {
		/* target screens smaller then 980px */
	}

	@media screen and (min-width: 980px) {
		/* target screens larger then 980px */
		.gallery_item {
			margin-bottom: 15px;
		}

	}

	@media screen and (min-width: 980px) and (max-width: 1219px) {
		/* target screens from 980px to 1220px */
	}

	@media screen and (max-width: 1219px) {
		/* target screens smaller then 1220px */
	}

	@media screen and (min-width: 1220px) {
		/* target screens larger then 1220px */
	}